<p>Current Draft List:</p>

<ul class="list-unstyled" id="kegList">
  <li [class]="kegStyle(currentKeg)" *ngFor="let currentKeg of childKegList"><img src="../assets/img/keg2.png"(click)="pourButtonHasBeenClicked(currentKeg)">{{currentKeg.name}}, {{currentKeg.brand}} ${{currentKeg.price}}/Pint <span [class]="kegStrength(currentKeg)"> ABV {{currentKeg.alcoholContent}}%</span>, current quantity: {{currentKeg.quantity}} pints
  <br>
  <button (click)="editButtonHasBeenClicked(currentKeg)">Edit!</button>
  </li>
</ul>
