.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-item {
  margin: 10px;
  order: 1;
  flex-grow: 1;
  word-break: normal;
  min-width: 250px;
  max-width: 300px;
}

.hi-abv {
  color: #fdf0d5;
  text-shadow: 1px 1px red;
}

img {
  width: 10%;
  height: 10%;
}

h1 {
  color: #fdf0d5;
}

#expensive {
  background-color: #d9dbd8;
}

#cheap {
  background-color: #c6a77c;
}
