.well {
  background-image: url("/assets/img/pour.jpg");
  opacity: .80;
  display: cover;
  margin-left: 80px;
  margin-right: 80px;
}

h2 {
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
}

.poor {
  color: #ded6a7;
  text-shadow: 3px 3px black;
}

.rich {
  color: #f7c35b;
  text-shadow: 3px 3px black;
}
