#header {
  background-color: #c6b5a2;
  color: #7ebeab;
  text-shadow: 1px 1px white;
  font-family: 'Just Another Hand', cursive;
  font-size: 80px;
}

#page {
  background-color: #8b633c;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
  margin-bottom: 3px;
  color: #463d2d;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

#banner {
  color: #7ebeab;
}

.item1 {
  order: 1;
  flex-grow: 6;
  margin: 50px;
}

.item2 {
  order: 2;
  flex-grow: 1;
  margin: 5px;
  word-break: normal;
  max-width: 100px;
}

.item3 {
  order: 3;
  flex-grow: 1;
  margin: 5px;
  word-break: normal;
  max-width: 100px;
}

.item4 {
  order: 4;
  flex-grow: 1;
  margin: 5px;
  word-break: normal;
  max-width: 100px;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  height: 70%;
}

h1 {
  color: cyan;
  text-shadow: 1px 1px white;
  text-align: center;
}
