<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <h1 id="header">Rudlow Brewing Co.</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- <h1 id="header">{{title}}</h1> -->
  <keg-list [childKegList]="masterKegList" (clickSender)="editKeg($event)" (clickPour)="pourKeg($event)"></keg-list>
  <new-keg (newKegSender)="addKeg($event)"></new-keg>
  <edit-keg [childSelectedKeg]="selectedKeg" (doneButtonClickedSender)="finishedEditing()"></edit-keg>
  <pour-keg [childRevenue]="masterRevenue"></pour-keg>
</div>
