.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#header {
  color: red;
}

#kegList {
  flex-grow: 6;
  height: 400px;
  min-width: 400px;
}

#newKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}



#editKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}

#pourKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}


/*this works*/
