#header {
  background-color: #c6b5a2;
  color: #7ebeab;
  text-shadow: 1px 1px white;
  font-family: 'Just Another Hand', cursive;
  font-size: 80px;
}

#page {
  /*display: flex;*/
  /*flex-direction: column;
  flex-wrap: wrap;*/
  background-color: #8b633c;
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
  margin-bottom: 3px;
  color: #463d2d;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  /*padding-left: 20px;*/
  width: 70%;
  height: 70%;
}

/*#kegList {
  flex-grow: 6;
  height: 400px;
  min-width: 400px;
}

#newKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}

#editKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}

#pourKeg {
  flex-grow: 2;
  height: 100px;
  min-width: 100px;
}*/

h1 {
  color: cyan;
  text-shadow: 1px 1px white;
  text-align: center;
}
/*this works*/
